.wallet-login-button {
	all: unset;
	background-color: #333;
	border-radius: 15px;
	height: 40px;
	width: auto;
	padding: 6px 14px;
	color: white;
	text-decoration: none;
	cursor: pointer;
   z-index: 10;
   margin-left: 15px;
   margin-top: 220px;
}

.wallet-login-button-absolute {
	all: unset;
	background-color: #333;
	border-radius: 15px;
	height: 40px;
	width: auto;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	margin: 20px;
   z-index: 110;
}
