.solspotPillars {
   position: relative;
   width: 100%;
   margin: 170px 0px;
   padding-top: 70px;
   padding-bottom: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #F7F7F7;
}

.solspotPillars h2 {
   margin: 0;
   margin-bottom: 16px;
   text-align: center;
   color: black;
   font-size: 52px;
   line-height: 1;
   font-weight: 700;
   font-family: Quicksand;
}

.itemContainer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.item {
   height: auto;
   width: 320px;
   margin: 25px;
   padding: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.item h4 {
   margin: 0;
   text-align: center;
   font-size: 32px;
   line-height: 1;
   font-weight: 600;
   color: black;
   font-family: Quicksand;
   margin-bottom: 12px;
}

.item p {
   text-align: center;
   font-size: 18px;
   line-height: 1.4;
   font-weight: 400;
   color: black;
   font-family: Quicksand;
   opacity: .9;
}


.icon { 
   padding: 12px;
   fill: white;
   height: 30px;
   width: 30px;
   border-radius: 30px;
   margin-bottom: 22px;
}


.rightSemiCircleSVG {
   position: absolute;
   z-index: 5;
   right: 0;
   bottom: -130px;
   width: 200px;
   opacity: .7;
}


@media screen and (max-width: 480px) {
   .solspotPillars {
      position: relative;
      width: 100%;
      margin: 140px 0px;
      padding-top: 70px;
      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #F7F7F7;
   }
   
   .solspotPillars h2 {
      margin: 0;
      padding: 0px 60px;
      margin-bottom: 22px;
      text-align: center;
      color: black;
      font-size: 36px;
      line-height: 1;
      font-weight: 700;
      font-family: Quicksand;
   }
   
   .itemContainer {
      flex-direction: column;
   }
   
   .item {
      width: auto;
      padding: 5px 25px;
   }

   .item h4 {
      font-size: 26px;
   }
   
   .item p {
      text-align: center;
      font-size: 18px;
      line-height: 1.4;
      font-weight: 400;
      color: black;
      font-family: Quicksand;
      opacity: .9;
   }
   
   
   .icon { 
      margin-bottom: 12px;
   }
   
   
   .rightSemiCircleSVG {
      position: absolute;
      z-index: 5;
      right: 0;
      bottom: -140px;
      width: 130px;
      opacity: .7;
   }
}
