.main {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.75);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logoContainer {
	width: 100%;
}

.pfp {
	height: 200px;
	width: 200px;
	border-radius: 150px;
	background-color: red;
}

.createSpotBtn {
	background-color: #333;
	border-radius: 15px;
	height: 20px;
	width: auto;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	margin: 20px;
}

.searchContainer {
	height: auto;
	width: auto;
	margin-top: 100px;
	display: flex;
	flex-direction: row;
}

.inputContainer {
	display: flex;
	flex-direction: row;
	border-radius: 20px;
	height: 50px;
	width: 500px;
	margin: 0px 20px;
	background-color: white;
	border: 1px solid black;
}

.searchIcon {
	height: 100%;
	margin-left: 20px;
}

.inputf {
	all: unset;
	padding: 6px;
	padding-left: 15px;
	font-size: 22px;
	font-weight: 200px;
}

.activeSearchBtn {
	background-color: #333;
	border-radius: 20px;
	height: 25px;
	width: auto;
	padding: 12.5px 20px;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.inactiveSearchBtn {
	background-color: red;
	border-radius: 20px;
	height: 25px;
	width: auto;
	padding: 12.5px 20px;
	color: white;
	text-decoration: none;
	cursor: pointer;
}
