.c-main {
	position: relative;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
   overflow-x: hidden;
}

.c-header {
   position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
   width: 100vw;
   z-index: 10;
}

.c-overall-profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
   width: 100%;
   overflow-x: hidden;
}

.c-profile-card {
	width: 500px;
   height: auto;
   min-height: 290px;
   background-color: #fdfdfd;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 110px;
   margin-bottom: 50px;
   border-radius: 20px;
   z-index: 10;
	box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
}



.c-profile-card .c-profile-card-pfp {
   height: 130px;
   width: 130px;
   border-radius: 50%;
   border-width: 8px;
   border-color: #fdfdfd;
   border-style: solid;
   margin-top: -80px;
}


.c-profile-card .c-bio-input {
	font-size: 18px;
   font-family: Quicksand;
   font-weight: 400;
   width: 80%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   height: 100px;
   padding-top: 7px;
   border-radius: 5px;
   margin-bottom: 30px;
   overflow-wrap: anywhere;
   resize: none;
}

.c-profile-card .c-color-input {
	font-size: 18px;
   font-family: Quicksand;
   font-weight: 400;
   width: 80%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   height: 20px;
   padding-top: 7px;
   border-radius: 5px;
   margin-bottom: 30px;
}





.inputContainer {
	display: flex;
	flex-direction: row;
	border-radius: 20px;
	height: 50px;
	width: 500px;
	margin: 0px 20px;
	background-color: white;
	border: 1px solid black;
}


.c-form-submit-btn {
	all: unset;
	background-color: #333;
	border-radius: 15px;
	height: 40px;
	width: auto;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	margin: 20px;
}

.inactiveSearchBtn {
	background-color: red;
	border-radius: 20px;
	height: 25px;
	width: auto;
	padding: 12.5px 20px;
	color: white;
	text-decoration: none;
	cursor: pointer;
}




.c-login-card {
	border-radius: 30px;
   margin-top: 13%;
   height: 400px;
   width: 700px;
   background: rgb(255,255,255);
   background: linear-gradient(128deg, rgba(255,255,255,0.7) 10%, rgba(255,255,255,0.3) 73%);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(9.3px);
   -webkit-backdrop-filter: blur(9.3px);
   border: 1px solid rgba(255, 255, 255, 0.43);
}

.c-login-card img {
   height: 400px;
   width: auto;

	border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

.c-login-card div {
   width: 100%;
   height: 100%;
}

.c-login-card h1 {
	color: black;
   font-size: 34px;
   font-family: Quicksand;
   font-weight: 800;
   margin: 30px 0px 0px 15px;
}
.c-login-card p {
	color: black;
   font-family: Quicksand;
   font-weight: 600;
	font-size: 26px;
   margin: 10px 0px 0px 15px;
}

.c-save-btns {
   position: fixed;
   bottom: 10px;
   right: 10px;
}