.c-main {
	position: relative;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
   overflow-x: hidden;
}

.c-header {
   position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
   width: 100vw;
   padding-top: 10px;
   padding-right: 30px;
   z-index: 15;
}

.c-publicViewBtn {
   width: 140px;
   text-align: center;
	font-size: 18px;
   font-family: Quicksand;
   font-weight: 600;
   text-decoration: none;
   background-color: #fdfdfd;
   height: 34px;
   border-radius: 5px;
   padding: 6px 10px;
   margin-right: 20px;
   color: black;
	box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
}

.link-btn {
	font-size: 8px;
   font-family: Quicksand;
   font-weight: 300;
}

.publicViewBtn {
   width: 140px;
	font-size: 18px;
   font-family: Quicksand;
   font-weight: 600;
   text-decoration: none;
   background-color: #fdfdfd;
   height: 26px;
   border-radius: 5px;
   padding: 10px 10px;
   margin-right: 20px;
   color: black;
	box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
}

.c-overall-profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
   width: 100%;
   overflow-x: hidden;
}

.c-profile-card {
	width: 500px;
   height: auto;
   min-height: 290px;
   background-color: #fdfdfd;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 160px;
   margin-bottom: 50px;
   border-radius: 20px;
   z-index: 10;
	box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
}

.c-profile-card .c-profile-card-pfp {
   height: 130px;
   width: 130px;
   border-radius: 50%;
   border-width: 8px;
   border-color: #fdfdfd;
   border-style: solid;
   margin-top: -80px;
}

.c-profile-card .c-bio-input {
	font-size: 18px;
   font-family: Quicksand;
   font-weight: 400;
   width: calc(80% - 10px);
   border: 1px solid rgba(0, 0, 0, 0.1);
   height: 100px;
   padding: 5px;
   border-radius: 5px;
   margin-top: 20px;
   margin-bottom: 30px;
   overflow-wrap: anywhere;
   resize: none;
}

.c-profile-card .c-color-input {
	font-size: 18px;
   font-family: Quicksand;
   font-weight: 400;
   width: 80%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   height: 20px;
   padding-top: 7px;
   border-radius: 5px;
   margin-bottom: 30px;
}

.inputContainer {
	display: flex;
	flex-direction: row;
	border-radius: 20px;
	height: 50px;
	width: 500px;
	margin: 0px 20px;
	background-color: white;
	border: 1px solid black;
}

.c-form-submit-btn {
	all: unset;
	background-color: #333;
	border-radius: 15px;
	height: 40px;
	width: auto;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	margin: 20px;
}

.inactiveSearchBtn {
	background-color: red;
	border-radius: 20px;
	height: 25px;
	width: auto;
	padding: 12.5px 20px;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.c-login-card {
	border-radius: 30px;
   margin-top: 13%;
   height: 400px;
   width: 700px;
   background: rgb(255,255,255);
   background: linear-gradient(128deg, rgba(255,255,255,0.7) 10%, rgba(255,255,255,0.3) 73%);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   overflow: hidden;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(9.3px);
   -webkit-backdrop-filter: blur(9.3px);
   border: 1px solid rgba(255, 255, 255, 0.43);
}

.c-login-card div .c-login-card-wallet-btn {
   background: rgb(129,177,250);
   background: linear-gradient(128deg, rgba(129,177,250,1) 17%, rgba(237,174,249,1) 83%);
   border-radius: 15px;
   margin: 225px 0px 0px 15px;
}

.c-login-card div .c-login-card-wallet-btn:hover {
   animation: animateBg 3s linear infinite;
   background-image: linear-gradient(90deg,#81b1fa,#edaef9,#81b1fa,#edaef9);
   background-size: 300% 100%;
   transform: scale(1.05);
   transition: all .2s ease-in-out;
   filter: brightness(90%);
}

 @keyframes animateBg {
   0% { background-position: 100% 0%; }
   100% { background-position: 0% 0%; }
 }

 .c-login-card div .c-initialize-btn {
   all: unset;
   width: 127px;
   height: 48px;
   text-align: center;
   color: white;
   background: rgb(129,177,250);
   background: linear-gradient(128deg, rgba(129,177,250,1) 17%, rgba(237,174,249,1) 83%);
   border-radius: 5px;
   margin: 135px 0px 0px 15px;
   cursor: pointer;
}

.c-login-card div .c-initialize-btn:hover {
   animation: animateBg 3s linear infinite;
   background-image: linear-gradient(90deg,#81b1fa,#edaef9,#81b1fa,#edaef9);
   background-size: 300% 100%;
   transform: scale(1.05);
   filter: brightness(90%);
   transition: all .2s ease-in-out;
}

.c-login-card img {
   height: 100%;
	border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

.c-card-spaceSVG {
   height: 800px;
	border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

.c-login-card div {
   width: 100%;
   height: 100%;
}

.c-login-card h1 {
	color: black;
   font-size: 34px;
   font-family: Quicksand;
   font-weight: 800;
   margin: 30px 0px 0px 15px;
}

.c-login-card p {
	color: black;
   font-family: Quicksand;
   font-weight: 600;
	font-size: 18px;
   padding-right: 8px;
   margin: 10px 0px 0px 15px;
}

.c-save-btns {
   position: fixed;
   bottom: 10px;
   right: 10px;
}

.css-1i5alow-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
   background-color: #333333 !important;
}

.wallet-btn-on-profile-page {
   all: unset;
   position: relative;
   margin: 0px;
   margin-right: 10px;
   min-width: 130px;
   padding-left: 5px;
   height: 48px;
   text-align: center;
   color: white;
   background: rgb(129,177,250);
   background: linear-gradient(128deg, rgba(129,177,250,1) 47%, rgba(237,174,249,1) 100%);
   border-radius: 15px;
   cursor: pointer;
}

.wallet-btn-initialize {
   position: fixed;
   margin: 0px;
   top: 10px;
   right: 0px;
   all: unset;
   min-width: 140x;
   padding-left: 5px;
   height: 48px;
   text-align: center;
   color: white;
   background: rgb(129,177,250);
   background: linear-gradient(128deg, rgba(129,177,250,1) 47%, rgba(237,174,249,1) 100%);
   border-radius: 15px;
   cursor: pointer;
}

.c-youtube-widget {
	width: 500px;
   height: auto;
   min-height: 290px;
   background-color: #fdfdfd;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 110px;
   margin-bottom: 50px;
   border-radius: 20px;
   z-index: 10;
	box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2)  ; 
}

.c-color-square {
   height: 20px;
   padding-top: 6px;
   padding-bottom: 10px;
   padding-left: 8px;
   color: white;
}

.chrome-picker {
   width: 100% !important;
   box-shadow: none !important;
}