.root {
   position: relative;
   width: 100%;
   margin-top: 100px;
   margin-bottom: 160px;
   padding-top: 70px;
   padding-bottom: 40px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.imgContainer {
   margin: 0;
   padding: 0;
   height: 320px;
   width: 420px;
   border-radius: 50px;
   background: rgb(129,177,250);
   background: linear-gradient(23deg, rgba(129,177,250,.6) 17%, rgba(237,174,249,.6) 83%);

}

.singleClayMockup {
   margin: 0;
   padding: 0;
   width: 420px;
   margin-top: -160px;
}

.content {
   height: auto;
   width: auto;
   margin-right: 55px;
   padding: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.content h2 {
   margin-top: -100px;
   margin-bottom: 26px;
   text-align: left;
   color: black;
   font-size: 52px;
   line-height: 1;
   font-weight: 700;
   width: 500px;
   font-family: Quicksand;
   max-width: 500px;
}

.content p {
   text-align: left;
   font-size: 18px;
   line-height: 1.4;
   font-weight: 400;
   color: black;
   font-family: Quicksand;
   opacity: .9;
   max-width: 500px;
}

.leftCircleSVG {
   position: absolute;
   z-index: 5;
   left: 60px;
   bottom: 0px;
   width: 80px;
   opacity: .7;
}


@media screen and (max-width: 480px) {
   .root {
      margin-top: 90px;
      margin-bottom: 120px;
      flex-direction: column-reverse;
   }
   
   .imgContainer {
      height: 180px;
      width: 330px;
      border-radius: 30px;
      position: relative;
   }
   
   .singleClayMockup {
      position: absolute;
      bottom: -10px;
      width: 330px;
   }
   
   .content {
      margin-right: 0px;
      padding: 36px;
   }
   
   .content h2 {
      margin-top: 0px;
      font-size: 32px;
      width: 100%;
   }
   
   .content p {
      width: 100%;
   }
   
   .leftCircleSVG {
      left: auto;
      right: 12px;
      bottom: -10px;
      width: 60px;
   }
}