.twitterChip {
   all: unset;
   width: 50px;
   height: 40px;
   border-radius: 5px;
   background-color: #EAEAEA;
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
   margin: 0px 5px; 
   -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -webkit-transition: all .2s ease-in;
   transition: all .2s ease-in;
}

.twitterChip:hover {
   transform: scale(1.05);
   filter: brightness(95%)
}

.twitterName {
   margin-top: 8px;
   font-family: Quicksand;
	text-decoration: none;
}

.twitterSVG {
	height: 26px;
	width: 26px;
   margin-top: 8px;
	fill: black;
   opacity: .6;
}
