.upperWords {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.title {
	font-size: 24px;
}

.titleBtn {
	font-size: 24px;
	cursor: pointer;
}

.img {
	background-color: gray;
	height: 200px;
	width: 200px;
	border-radius: 25px;
	margin: 10px;
}

.twitter-chip {
   all: unset;
   width: 50px;
   height: 40px;
   border-radius: 5px;
   background-color: #EAEAEA;
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
   margin: 0px 5px; 
}

.twitter-name {
   margin-top: 8px;
   font-family: Quicksand;
	text-decoration: none;
}

.twitter-svg {
	height: 26px;
	width: 26px;
   margin-top: 8px;
	fill: black;
   opacity: .6;
}
