.welcome_popup {
	position: absolute;
   height: 100vh;
   width: 100vw;
   background-color: white;
   z-index: 1;
   top: 0;
   opacity: 0;
   animation-name: popup;
   animation-duration: 3s;
   animation-iteration-count: 1;
   animation-timing-function: ease-in;
   visibility: hidden;
}

.welcome_popup h2 {
	width: 100%;
   text-align: center;
   font-family: Quicksand;
   color: black;
   margin-top: 35vh;
   animation-name: popup-text;
   opacity: 0;
   animation-duration: 3s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: 1;
}

@keyframes popup {
   0% {opacity: 1; z-index: 1100; visibility: visible;}
   90% {opacity: 1; z-index: 1100; visibility: visible;}
   100% {opacity: 0; z-index: 1; visibility: hidden;}
}

@keyframes popup-text {
   0% {opacity: 0;}
   30% {opacity: 1;}
   65% {opacity: 1;}
   90% {opacity: 0;}
   100% {opacity: 0;}
}

