.root {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #F7F7F7;
}

.logo {
   width: 320px;
   margin-top: 0px;
   margin-bottom: 10px;
}

.linkIcon {
   width: 30px;
   height: 30px;
   margin: -10px 10px 30px 10px;
   -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -webkit-transition: all .2s ease-in;
   transition: all .2s ease-in;
}

.linkIcon:hover {
   fill: #DCCBF0;
}

@media screen and (max-width: 480px) {

   .logo {
      width: 70%;
      margin-top: 0px;
      margin-bottom: 0;
   }
   
   .linkIcon {
      width: 25px;
      height: 25px;
      margin: 5px 10px 20px 10px;
   }
}