.root {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #F7F7F7;
}

.logo {
   width: 420px;
   margin-top: 0px;
   margin-bottom: 0;
}

.linkIcon {
   width: 30px;
   height: 30px;
   margin: -10px 10px 30px 10px;
}

.linkIcon:hover {
   fill: #DCCBF0;
}